#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#bar {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: 100;
}
